.my-grid-card-link {
    text-decoration: none;
}

.my-grid-card {
    padding-bottom: 0.5rem;
    margin: 16px 0 12px;
    transition: transform 0.2s ease-in-out;
}

.my-grid-card:hover {
    transform: translate(6px, -6px);
}

.my-grid-card-image {
    max-width: 75%;
    height: auto;
    margin-bottom: 16px;
}

.my-white-pill-info {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #0e0e0e;
    margin-bottom: 5px;
}
